
  
 
   
  <ion-header>
    <ion-toolbar>
      <div class="ion-text-center">
        <ion-title padding>Ingresar Como</ion-title>
        
      </div>
    </ion-toolbar>
  </ion-header>
  
<ion-content padding>
  <div class="ion-text-center"> 
   <ion-button routerLink="/ventas">
    Mesero
   </ion-button>
  </div>

<br>
<br>
  <div class="ion-text-center">
   <ion-button routerLink="/log-cliente">
    Cliente
   </ion-button>
  </div>
<br>
<br>
  <div class="ion-text-center">
   <ion-button routerLink="/log-chef">
      Chef           
   </ion-button>
  </div> 
 

</ion-content>
